$font-family: Arial, sans-serif;
$bg-color: #f0f0f0;
$text-color: #1c1c1c;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background-color: $bg-color;
  color: $text-color;
}
